<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.floppyinfant.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    
    <!-- Permissions needed by Google Analytics -->
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<!-- Permissions needed by Google Maps -->
	<!-- INTERNET -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /><!-- Network cell -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /><!-- GPS location data -->
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /><!-- Emulator faked location data -->
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="true" >
        
        <uses-library android:name="com.google.android.maps" />
        
        <!-- *************************************************************** -->
        <!-- Activities -->
        <!-- *************************************************************** -->
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tabs"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".Tabs" />
        <activity android:name=".Tab1" />
        <activity android:name=".Tab2" />
        <activity android:name=".Form" />
        <activity android:name=".List" />
        <activity android:name=".Maps" />
        <activity android:name=".Help" />
        <activity android:name=".Preferences" />
        <activity android:name=".NetworkServiceController" />
        <activity android:name=".Graphics" />
        <activity android:name=".GLActivity" />
        <activity android:name=".data.DataListActivity" />
        <activity android:name=".data.DataEditActivity" />
        
        <!-- *************************************************************** -->
        <!-- Services -->
        <!-- *************************************************************** -->
        <service android:name=".NetworkService" /><!-- Local Service (RPC); Remote Service (IPC) mit Attribut 'android:process=":globalCtx"'; Doppelpunkt: neuer Prozess, Großbuchstabe: gleicher User (Zugriff nur durch startende Anwendung); Kleinbuchstabe: globaler Context (Zugriff durch alle Prozesse möglich) -->
        
        <!--
        <provider ></provider>
        <receiver ></receiver>
        -->
    </application>
    
</manifest>